<div class="row">
    <div class="col">
        <div class="card card-body ml-3 mr-3">
            <form method="GET" action="" class="form-inline">
                {% csrf_token %}
                <div>
                {{ myFilter.form }}
                </div>
                <div>
                    <button type="submit" class="btn btn- 
                    secondary">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
</div>


<h5>ORDERS:</h5>
        <br>
        <div class="card card-body ml-3 mr-3">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date Ordered</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.category }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.date_created}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>